html{
	width: 100%;
}

body{
	width: 80%;
	margin: 0 auto;
}

header{
	background-color: #dce8f7;
}

h1{
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 310px;
}

h1 a{
	color: #666;
}

h2{
	color: #6a84a7;
	margin-top: 0px;
	margin-bottom: 20px;
}

.hidden{
	display: none;
}

ol li{
	padding: 10px;
	border: 1px solid #bbb;
}

.actif{
	border-right: 0px;
}

a{
	text-decoration: none;
	color: #000;
}

.actif a{
	color: #007796;
}

section{
	border-top: 1px solid #bbb;
	padding: 20px;
}

span{
	float: right;
	font-size: 14px;
}

span a{
	padding: 5px;
	color: red;
	text-decoration: underline;
}

span a:first-child{
	margin-right: 10px;
}

p{
	font-size: 18px;
}

p+a{
	display: inline-block;
	margin-top: 50px;
}

table{
	margin-bottom: 20px;
}

th, td{
	padding-right: 15px;
}

th{
	color: #6a84a7;
	font-size: 16px;
}

article{
	display: inline-block;
}

form{
	padding: 15px;
}

.inscription{
	border-right: 1px solid #ccc;
}

input{
	margin-bottom: 5px;
	padding: 5px;
}

fieldset{
	margin-bottom: 5px;
	border: 1px solid #ccc;
	padding: 10px;
}

.btn{
	text-decoration: none;
	color: #000;
	border: 1px solid #ccc;
}

.eleves{
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.eleves p{
	font-size: 14px;
	margin-bottom: 10px;
}

.eleve{
	float: right;
}
.ajout{
	float: right;
}

.groupes{
	margin-right: 20px;
	padding: 10px;
}

.groupes p{
	font-size: 18px;
	margin-bottom: 10px;
}

dt, dd{
	display: inline;
}